  body{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background-color:#18122B;
    
 }
 .logcontainer{
    
    background-color:darkblue;
    box-shadow: 0px 0px 20px 5px gray;
    border-radius: 30px;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 #user,#pwd,#login{
    width: 300px;
    height: 50px;
    border-radius: 10px;
   margin: 20px;
 }
 .logname,.logdivdiv,.logbtn,.tohome{
   display: flex;
   justify-content: center;
   color: white;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }
 #login{
   background-color: black;
   color: white;
   font-size: 20px;
   transition: .5s;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }
 #login:hover{
   color: black;
   background-color: burlywood;
   transform: scale(105%);
   transition: all .3s ease-in-out ;
   box-shadow: 0px 0px 10px black;

 }
 #loglink{
   color: cyan;
 }
 