*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar{
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content: space-between;
    height: 75%;
    align-items: center;
    width: 85%;
    margin: auto;
    background-color: cadetblue;
}
.menublock ul li a{
    text-decoration: none;
    color: black;
}

.menublock ul{
    display: flex;
    justify-content: space-around;
    width: 380px;
    list-style: none;
    font-weight: bold;
    color: black;
}
img{
    border-radius: 20px;
    width: 170px;
    height: 70px;
}